html {
    background-color: #484848;
}

body {
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
	font-size: 15px;
}

HEADER, NAV, SECTION, ASIDE, #main {
	position: relative;
	display: inline;
	border: 1px solid #909090;
	background-color:#909090;
	border-radius: 10px;
	width: 100%;
	-moz-box-shadow: 10px 10px 5px 0px #000000;
	-webkit-box-shadow: 10px 10px 5px 0px #000000;
	-o-box-shadow: 10px 10px 5px 0px #000000;
	box-shadow: 10px 10px 5px 0px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=5);
	margin: 5px;
	margin-top: 10px;
}

/* HEADER */

HEADER {
	display: inline-block;
	height: 130px;
}

HEADER .mini {
	position:absolute;
	right: 10px;
	width: 15px;
}

img#logo {
	float: left;
	height: 130px;
	margin-left: 10px;
}

img#loupe {
	float: right;
	margin-right: 20px;
}

img#close {
	bottom: 10px;
}

img#reload {
	top: 10px;
}

/* SIDES */

NAV img, ASIDE img {
	width: 70px;
	margin: 15px auto 15px auto;
	display: block;
}

NAV, ASIDE {
	position: relative;
	width: 130px;
	height: 450px;
}

NAV {
	float:left;
	margin-left: 25px;
}

ASIDE {
	float:right;
	margin-right: 25px;
}

	/*brick*/
div#brick {
	display: block;
	height: 70px;
	width: 120px;
	margin: 15px auto 15px auto;
	background-image: url("resources/brick.jpg");
    background-repeat: repeat;
}

.select {
	border : 5px solid red;
	border-radius: 5px;
}

/*MAIN*/


#main {
	padding: 15px;
	width: 1100px;
	margin-left: 20px;
}

/* TEXT BOX */

.box {
	position: relative;
	top:-100px;
    border: 1px solid rgb(71, 181, 69);
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(151, 255, 148);
    padding: 0px 40px 40px 10px;
    	-moz-box-shadow: 10px 10px 5px 0px #000000;
	-webkit-box-shadow: 10px 10px 5px 0px #000000;
	-o-box-shadow: 10px 10px 5px 0px #000000;
	box-shadow: 10px 10px 5px 0px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=5);
}

p {
    font-family: Verdana;
    letter-spacing: 1px;
}

button, textarea {
	font-size: 15px;
}

span#fat {
	font-size: 45px;
	font-family:Palatino;
}

span#small {
    text-shadow: 4px 4px 4px red;
}

#ans {
	resize: none;
	float: left;
	display: table-cell;
	margin: 0px 10px;
}






